extends layout

block content
  section.section-block.featured-media.window-height.tm-slider-parallax-container
      .tm-slider-container.full-width-slider(data-featured-slider='', data-parallax='', data-scale-under='960')
        ul.tms-slides
          li.tms-slide(data-image='', data-force-fit='', data-overlay-bkg-color='#000000', data-overlay-bkg-opacity='0.35')
            .tms-content
              .tms-content-inner.center.left-on-mobile.v-align-middle
                .row
                  .column.width-10.offset-1
                    h3.tms-caption.no-padding-on-mobile.text-uppercase.lspacing-xlarge.mb-10.color-white(data-animate-in='opacity:0;scale:1.5;duration:900ms;delay:100ms;easing:easeFastSlow;', data-no-scale='') Dream | Explore | Discover
                    .clear
                    h1.tms-caption.title-xlarge.no-padding-on-mobile.text-uppercase.lspacing-medium.mb-20.weight-bold.color-white(data-animate-in='opacity:0;scale:1.5;duration:900ms;delay:100ms;easing:easeFastSlow;', data-no-scale='') The World
                    .row
                      .column.width-6.offset-3.weight-light
                        a.tms-caption.button.medium.border-white.bkg-hover-grey-ultralight.color-white.color-hover-grey.text-uppercase(href='/experiences', data-offset='-60', data-animate-in='opacity:0;scale:1.5;duration:900ms;delay:400ms;easing:easeFastSlow;', data-no-scale='') New Travel Experiences
            img(data-src=pageHeaderBg , data-retina='', src='images/blank.png', alt='')
  section.section-block.hero-5.hero-5-1.clear-height.show-media-column-on-mobile.bkg-white
      .media-column.width-6.horizon(data-animate-in='opacity:0;transX:-50px;duration:1000ms;delay:100ms;easing:easeIn;', data-threshold='0.5')
      .row
        .column.width-6.push-6
          .hero-content.split-hero-content
            .hero-content-inner.center-on-mobile.horizon(data-animate-in='opacity:0;duration:1300ms;easing:easeIn;', data-threshold='0.5')
              .color-facebook
                 h2.mb-40.text-uppercase
                  | Travel at its 
                  span.transparent-element BEST
                p.lead.color-facebook We've searched hundred of travel sites and partnered with the finest.
              p
                | We look for trusted brands and quality products. We bring you top experiences and vacations so you can dream, explore and discover more.
              a.button.scroll-link.medium.bkg-twitter.border-hover-facebook.color-white.color-hover-facebook.border-hover-facebook.text-uppercase(href='#featured-trips', data-offset='-60') See Our Staff Picks
  .section-block.parallax.bkg-black.fixed-height(data-retina='', data-src=sectionBestBg)
      .tmp-content
        .tmp-content-inner.left
          .row
            .column.width-6.offset-3.color-white.center
              a.lightbox-link.color-white.text-uppercase.weight-bold.font-alt-1.text-medium(data-lightbox-animation='slideInLeft', href=homeVideo)
                | Play Featured  
                span.icon-circled.icon-play.small
                |   Video Tour
              p.mt-40.no-margin-bottom
                | An amazing excursion at The Inca Trail. Follow 
                a.border-white(href='https://vimeo.com/31299372', target='_blank')   Claire and Max  
                |   and see their 72 hour trek through beautiful Peru.
  #featured-trips.section-block.replicable-content
      .row
        .column.width-12.center
          h2.mb-50.text-uppercase(style='margin-bottom: 2rem;')
            | Hand-selected 
            span.transparent-element Vacations
          h5.text-uppercase(style='margin-bottom: 5rem;') How does it work
        .column.width-4
          .feature-column.small.left
            span.text-small.pull-left.font-alt-1 01.
            .feature-text
              h5.text-uppercase.text-small.weight-light.color-grey Search airfare discounts
              p.mb-mobile-30
                | Every Monday we search through hundred of flights and look for trending offers. We look for affordable and inspiring destinations. Over the years we have learned a trick or two. We know where to find the cool stuff. Yep, that's how we roll.
        .column.width-4
          .feature-column.small.left
            span.text-small.pull-left.font-alt-1 02.
            .feature-text
              h5.text-uppercase.text-small.weight-light.color-grey Hotel and packages
              p.mb-mobile-30
                | Every week we review our contracts with our travel partners and suppliers. Chances are that there is a hotel or package on sale. Besides, we love discovering new places and making them accesible to you. That's right! All you need is love.
        .column.width-4
          .feature-column.small.left
            span.text-small.pull-left.font-alt-1 03.
            .feature-text
              h5.text-uppercase.text-small.weight-light.color-grey Delivered every Monday
              p
                | Every Monday noon we publish our top staff picks. We believe travel should be more about enjoying the experiences rather than tedious search. So, get your groove on and dream, explore and discover the world with us.
  .section-block.grid-container.fade-in-progressively.full-width.no-margins.no-padding(data-layout-mode='masonry', data-grid-ratio='1', data-animate-filter-duration='0.7', data-set-dimensions='', data-animate-resize='', data-animate-resize-duration='0.8')
      .row
        .column.width-12
          .row.grid.content-grid-4
            
            each promo in promos
             .grid-item
              .thumbnail.overlay-fade-out(data-hover-easing='easeInOut', data-hover-speed='500', data-hover-bkg-color='#222222', data-hover-bkg-opacity='.3')
                if promo.ismodal
                 a.overlay-link(href='http://search.ss.tripkii.com/en-GB/flights#/result?originplace=HOUA&destinationplace=SJO&outbounddate=2016-05-16&inbounddate=2016-05-31&cabinclass=Economy&adults=1&children=0&infants=0')
                  img(src=promo.imgsrc, alt='')
                  span.overlay-info.center
                   span
                     span
                       span.left.inline
                         span.project-title= promo.product + " - " + promo.destination + " $" +promo.price
                         span.project-description 
                else 
                 a.tml-link.lightbox-link(data-modal-mode , data-modal-width='800', href='#'+promo.price, data-content='inline')
                  img(src=promo.imgsrc, alt='')
                  span.overlay-info.center
                    span
                      span
                        span.left.inline
                          span.project-title= promo.product + " - " + promo.destination + " $" +promo.price
                          span.project-description 
            
            
   section.section-block.replicable-content
      .row
        .column.width-8.offset-2.center
          h2.mb-20.text-uppercase
            | Why 
            span.transparent-element tripkii
          p.lead.mb-80 simple and straightforward
        .equalize.row.content-grid-3
          .grid-item
            .box.rounded.bkg-twitter.color-white.center
              h5 Hand-picked Travel
              p
                | We pride ourselves in going the extra mile by carefully researching each offer you see in our site. For your convenience we have a 
                a.weight-bold(href='/engine') booking engine
                |  that search for current deals but our commitment to you is that each vacation we publish on our site has been fully reviewed by our travel experts.
          .grid-item
            .box.rounded.bkg-turquoise-light.color-white.center
              h5 Up-to-date content
              p
                | As travelers, we understand the importance of accurate and current content. From textual to visual you can be assured that every information provided on Tripkii.com is up-to-date. Actually, many of the places we recommend have been lived and breathed by our staff. Yep, we have been there.
          .grid-item
            .box.rounded.bkg-soundcloud.color-white.center
              h5 Assistance
              p
                | We are an online travel agency but we don't stop there. You can easily reach us, seriously. If you happen to have a question, just head to our 
                a.weight-bold(href='/contact') contact
                |  page and click the button live chat. We would answer immediately unless we are not in office hours. If that's the case we will get back to you in less than 12 hours. Promise!
                
    #two(style='padding:30px;display:none;')
      h3 This is a modal two
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      a.button.medium.bkg-twitter.border-hover-facebook.color-white.color-hover-facebook.border-hover-facebook.text-uppercase(href='http://cnn.com', target='_blank', data-offset='-60') See Our Staff Picks
    #three(style='padding:30px;display:none;')
      h3 This is a modal three
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      a.button.medium.bkg-twitter.border-hover-facebook.color-white.color-hover-facebook.border-hover-facebook.text-uppercase(href='http://cnn.com', target='_blank', data-offset='-60') See Our Staff Picks
    
  #899(style='padding:30px;display:none;')
          h3 12 Days: Granada to Granada
          .column.width-6
            img(src='images/travel-agency/generic/nica-route.jpg', alt='')
          .column.width-6
            h4 Travel Style: Classic
            p
              | All of the highlights, culture, access, and I-can’t-believe-we-did-that moments, all at a great price.
            h4 Physical Rating: Light
            p
              | Light walking and hiking suitable for most fitness levels. Nothing too challenging.
          .column.width-6
            h4 Service Level: Standard
            p
              | Comfortable tourist-class accommodations with character; mix of public and private transport.
            h4 Trip Type: Small Group
            p Small group experience; Max 16, avg 12
          .column.width-6
            h4 Experience includes:
            ul
              li Hotels (9 nts), homestay (2 nts). 
              li 3 breakfasts, 0 lunches, 2 dinners   
              li Public bus, private van, boat, ferry.   
              li Chief Experience Officer (CEO) throughout, local guides. 
          a.button.medium.bkg-twitter.border-hover-facebook.color-white.color-hover-facebook.border-hover-facebook.text-uppercase(href='http://cnn.com', target='_blank', data-offset='-60') See More Details
  each promo in promos
   if promo.ismodal
   
   else
    each info in promo.modalinfo
     #007(style='padding:30px;display:none;')
      span.project-title= info.id
